In [1]:
import pandas as pd

def concat_csv(file_list):
    df = pd.concat([pd.read_csv(f) for f in file_list])
    return df

In [2]:
cities = ['BOG','BAQ','MDE','SPO','BHZ','CWB','VCP','CMX']

# Aca se crea el csv conjunto

In [3]:
file_list = [f'{city}_SAC_tiers.csv' for city in cities]

In [4]:
df = concat_csv(file_list)

In [5]:
df.to_csv(f"ALL_SAC_tiers.csv",index=False)

# Aca se crea el Excel conjunto

In [6]:
# Set the list of cities and filenames
file_list = [f"CLTV_{city}.xlsx" for city in cities]

# Create an empty dictionary to store the dataframes
dataframes = {}

# Loop through each file and read the data into a dataframe
for file in file_list:
    city = file.split("_")[1].split(".")[0]  # Extract the city name from the filename
    df = pd.read_excel(file)
    dataframes[city] = df

In [7]:
dataframes['BOG']

,city,customer_id,cat,min_diff_days,max_diff_days,avg_diff_days,median_diff_days,stdev_diff_days,num_orders_cat,aov_cat_usd,...,churned_ALL,ALL_churned_date,TOTAL_CAT_CLTV_sin_churn,ALL_CLTV_sin_churn,Adjust_CLTV,tier,microsegment_name,business_type,is_kam,owner
0,BOG,-255070,Abarrotes,19.0,211.0,69.250000,23.5,94.524688,5,2.913983,...,0,2023-11-30,18.799587,4.034567,18.799587,J,NaN,Hogar,False,No Farming
1,BOG,-255070,Aseo e Higiene,55.0,99.0,74.750000,72.5,22.126530,5,5.930297,...,0,2023-11-30,18.799587,4.034567,18.799587,J,NaN,Hogar,False,No Farming
2,BOG,-255070,"Carne, Pollo & Pescados",20.0,333.0,53.894737,36.0,68.806407,20,28.513838,...,0,2023-11-30,18.799587,4.034567,18.799587,J,NaN,Hogar,False,No Farming
3,BOG,-255070,Frutas & Verduras,19.0,333.0,50.045455,35.0,64.520559,23,17.293991,...,0,2023-11-30,18.799587,4.034567,18.799587,J,NaN,Hogar,False,No Farming
4,BOG,-255070,Lácteos & Huevos,19.0,456.0,64.764706,32.0,103.097969,18,7.475708,...,0,2023-11-30,18.799587,4.034567,18.799587,J,NaN,Hogar,False,No Farming
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166909,BOG,342712288,Desechables,NaN,NaN,0.000000,NaN,0.000000,1,14.139579,...,1,2023-05-03,0.000000,0.000000,0.000000,J,Comida Rápida,Hogar,False,No Farming
166910,BOG,342719232,Desechables,NaN,NaN,0.000000,NaN,0.000000,1,27.408369,...,1,2023-05-19,0.000000,0.000000,0.000000,J,NaN,Comercio,False,No Farming
166911,BOG,343241586,Desechables,1.0,7.0,4.000000,4.0,4.242641,3,102.108722,...,1,2023-05-28,717.851372,367.083088,717.851372,D,NaN,Comercio,False,No Farming
166912,BOG,345765771,Desechables,NaN,NaN,0.000000,NaN,0.000000,1,33.937722,...,1,2023-06-05,0.000000,0.000000,0.000000,J,NaN,Comercio,False,No Farming
166913,BOG,345956800,Desechables,2.0,2.0,2.000000,2.0,0.000000,2,44.707741,...,1,2023-06-10,0.000000,0.000000,0.000000,J,Corrientazo,Restaurante,False,No Farming

In [8]:
# Write the dataframes to a new XLSX file, with each city as a sheet
with pd.ExcelWriter("CLTV_ALL.xlsx") as writer:
    for city, df in dataframes.items():
        df.to_excel(writer, sheet_name=city, index=False)